@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #000f00;
  --foreground: #171717;
  --primary: #85EB81;
  --primary-dark: #599E57;
  --secondary: #4c5e4b;
  --secondary-dark: #6DC06A;
  --tertiary: #646664;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes AnimationName {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

/* .logo1{
  @apply animate-wiggle-more animate-infinite animate-normal place-self-center;
}
.logo2{
  @apply animate-wiggle-more animate-infinite animate-reverse place-self-center;
}
.logo3{
  @apply animate-wiggle-more animate-infinite animate-alternate place-self-center;
}
.logo4{
  @apply animate-wiggle-more animate-infinite animate-alternate-reverse place-self-center;
} */
.CustomBG {
  @apply bg-(--background);
}
.text-primary{
  @apply text-(--primary) lg:text-2xl;
}
.text-secondary{
  @apply text-(--secondary) lg:text-2xl;
}
.boldText-primary{
  @apply text-(--primary) text-shadow-md text-shadow-slate-400;
}
.boldText-secondary{
  @apply text-(--secondary) text-shadow-md text-shadow-slate-400;
}
.content-section{
  @apply w-full lg:w-[70vw] scroll-m-15;
}
.section-title{
  @apply font-medium text-3xl;
}

.boxShadow{
  @apply shadow-2xl shadow-slate-700 ;
}

.stack {
  @apply flex flex-col gap-2;
}
.stack-title {
  @apply text-3xl underline text-(--primary);
}
.stack-item {
  @apply text-(--tertiary) lg:text-2xl;
 }

 .contact-label {
  @apply block text-sm lg:text-2xl font-medium text-gray-900;
 }

 .contact-input {
  @apply mt-1 w-full rounded-lg bg-white p-2 focus:border-indigo-500 focus:outline;
 }

 .quote-price-text {
  @apply text-lg md:text-3xl font-black text-(--primary) text-shadow-md text-shadow-black;
 }
 .quote-price-info {
  @apply text-slate-400 font-medium;
 }

.quote-price-column {
  @apply mt-auto pt-6 border-t border-slate-100 flex justify-between items-center gap-5;
}

 .inner-scrollbar {
  scrollbar-width: 8px;
  scrollbar-color: var(--primary) transparent;
}