@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #12FF36;
  --primary-dark: #27FF12;
  --secondary: #FF931C;
  --secondary-dark: #FF6800;
  --tertiary: #7D746A;
}

.hero-bg {
    background: linear-gradient(143deg, #27ff12, #ff931c);
    background-size: 400% 400%;

    animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

.logo1{
  @apply animate-wiggle-more animate-infinite animate-normal place-self-center;
}
.logo2{
  @apply animate-wiggle-more animate-infinite animate-reverse place-self-center;
}
.logo3{
  @apply animate-wiggle-more animate-infinite animate-alternate place-self-center;
}
.logo4{
  @apply animate-wiggle-more animate-infinite animate-alternate-reverse place-self-center;
}

.fade-left{
  @apply animate-fade-left animate-once animate-duration-1500 animate-ease-out;
}

.fade-right{
  @apply animate-fade-right animate-once animate-duration-1500 animate-ease-out;
}

.boldText-primary{
  @apply text-(--primary) text-shadow-md text-shadow-black;
}
.boldText-secondary{
  @apply text-(--secondary) text-shadow-md text-shadow-black;
}

.boxShadow{
  @apply shadow-2xl shadow-slate-700 ;
}